<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission
            android:name="android.permission.BLUETOOTH_CONNECT"
            tools:ignore="PermissionImpliedByHardware"/>
    <uses-permission
            android:name="android.permission.BLUETOOTH_SCAN"
            android:usesPermissionFlags="neverForLocation"
            tools:ignore="PermissionImpliedByHardware"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Honeywell Broadcast Permission -->
    <uses-permission android:name="com.honeywell.decode.permission.DECODE"/>

    <queries>
        <intent>
            <action android:name="android.intent.action.SEND"/>
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT"/>
        </intent>
        <!-- Bluetooth devices -->
        <intent>
            <action android:name="android.bluetooth.devicepicker.action.LAUNCH"/>
        </intent>
    </queries>

    <uses-feature
            android:name="android.hardware.camera"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.nfc"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.bluetooth"
            android:required="false"/>

    <application
            android:name="com.example.assetControl.AssetControlApp"
            android:enableOnBackInvokedCallback="true"
            android:configChanges="uiMode"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:networkSecurityConfig="@xml/network_security_config"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AssetControlNoActionBarTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning">

        <!-- HONEYWELL Native support -->
        <uses-library
                android:name="com.honeywell"
                android:required="false"/>

        <!-- HONEYWELL Receiver -->
        <receiver
                android:name=".devices.scanners.honeywell.HoneywellBroadcastReceiver"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="com.example.assetControl.intent.action.BARCODE"/>
            </intent-filter>
        </receiver>

        <!-- ZEBRA Receiver -->
        <receiver
                android:name=".devices.scanners.zebra.ZebraBroadcastReceiver"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="com.zebra.datacapture1.ACTION"/>
                <action android:name="com.symbol.datawedge.api.NOTIFICATION_ACTION"/>
                <action android:name="com.symbol.datawedge.api.RESULT_ACTION"/>
            </intent-filter>
        </receiver>

        <!-- FileProvider -->
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true"
                android:requestLegacyExternalStorage="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
        </provider>

        <!-- Actividades -->
        <activity
                android:name=".ui.activities.main.HomeActivity"
                android:exported="true"
                android:theme="@style/Theme.App.SplashScreen.NoActionBar"
                android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.activities.review.AssetReviewSelectActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.activities.code.CodeCheckActivity"
                android:exported="true"
                android:label="@string/code_read"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                    android:name="android.nfc.action.TECH_DISCOVERED"
                    android:resource="@xml/nfc_tech_filter"/>
        </activity>
        <activity
                android:name=".ui.activities.main.LoginActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:label="@string/title_activity_login"
                android:launchMode="singleTop"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name=".ui.activities.main.SettingsActivity"
                android:label="@string/title_activity_settings">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.activities.main.HomeActivity"/>
        </activity>
        <activity
                android:name=".ui.activities.review.ArcActivity"
                android:exported="false"
                android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
                android:name=".ui.activities.asset.AssetPrintLabelActivity"
                android:windowSoftInputMode="adjustResize"
                android:exported="false"/>
        <activity android:name=".ui.activities.review.ArcConfirmActivity"/>
        <activity
                android:name=".ui.activities.asset.AssetCRUDActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.activities.movement.WmcActivity"
                android:exported="false"/>
        <activity android:name=".ui.activities.movement.WmcConfirmActivity"/>
        <activity
                android:name=".ui.activities.common.ObservationsActivity"
                android:exported="false"/>
        <activity android:name="com.example.assetControl.ui.activities.location.WarehouseAreaDetailActivity"/>
        <activity android:name=".ui.activities.route.RouteSelectActivity"/>
        <activity
                android:name=".ui.activities.route.RouteProcessContentActivity"
                android:exported="false"
                android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
                android:name=".ui.activities.dataCollection.DccActivity"
                android:exported="false"
                android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.activities.dataCollection.DataCollectionRuleSelectActivity"/>
        <activity android:name=".ui.activities.dataCollection.DataCollectionRuleTargetActivity"/>
        <activity
                android:name="com.example.assetControl.ui.activities.location.WarehouseAreaCRUDActivity"
                android:exported="false"
                android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.activities.common.CRUDActivity"/>
        <activity android:name=".ui.activities.print.PrintLabelActivity"/>
        <activity
                android:name="com.example.assetControl.ui.activities.location.WarehouseCRUDActivity"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name=".ui.activities.category.ItemCategoryCRUDActivity"
                android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.activities.maintenance.AssetMaintenanceSelectActivity"/>
        <activity android:name=".ui.activities.maintenance.AssetMaintenanceConditionActivity"/>
        <activity android:name=".ui.activities.maintenance.AssetMaintenanceStatusActivity"/>
        <activity
                android:name=".ui.activities.sync.SyncActivity"
                android:configChanges="keyboardHidden"/>
        <activity android:name=".ui.common.snackbar.MakeText"/>
        <activity android:name=".ui.activities.main.InitConfigActivity"/>
        <activity
                android:name=".ui.activities.location.LocationSelectActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:excludeFromRecents="true"
                android:exported="false"
                android:theme="@style/Theme.AppCompat.Translucent"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name=".ui.activities.category.ItemCategorySelectActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:excludeFromRecents="true"
                android:theme="@style/Theme.AppCompat.Translucent"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name=".ui.activities.asset.AssetDetailActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:excludeFromRecents="true"
                android:theme="@style/Theme.AppCompat.Translucent"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name=".ui.activities.asset.CodeSelectDialogActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:excludeFromRecents="true"
                android:exported="false"
                android:theme="@style/Theme.AppCompat.Translucent"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name=".ui.activities.route.RouteSelectDialogActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:excludeFromRecents="true"
                android:theme="@style/Theme.AppCompat.Translucent"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name=".ui.activities.dataCollection.DccDetailActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:excludeFromRecents="true"
                android:theme="@style/Theme.AppCompat.Translucent"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name=".ui.activities.location.WarehouseAreaPrintLabelActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.activities.print.TemplateSelectDialogActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:excludeFromRecents="true"
                android:theme="@style/Theme.AppCompat.Translucent"
                android:windowSoftInputMode="adjustResize"/>

        <meta-data
                android:name="com.google.android.gms.vision.DEPENDENCIES"
                android:value="barcode"/>

        <property
                android:name="android.content.MEDIA_CAPABILITIES"
                android:resource="@xml/media_capabilities"/>
    </application>
</manifest>